.header__logo {
	width: 150px;
}

.header__nav__list__item {
	font-size: 1.7rem;
	margin: 0 3rem;
}

.introduction__content {
	width: 40%;
}

.introduction__title {
	font-size: 3.4rem;
}

.introduction__button {
	font-size: 2.2rem;
}
