.header {
	padding: 0 4rem;
}

.header__logo {
	width: 125px;
}

.header__aside {
	display: none;
}

.header__nav {
	display: block;
}

.nav-toggle {
	display: none;
}

.header__nav__list__item__link {
	color: var(--primary-blue-color);
}

.header__nav__list {
	display: flex;
	justify-content: space-evenly;
	font-family: "Roboto mono", monospace;
}

.header__nav__list__item {
	font-size: 1.5rem;
	color: var(--primary-green-color);
	margin: 0 2rem;
}

.header__nav__list__button {
	font-size: 1.4rem;
	padding: 1rem 2rem;
	border: 1px solid var(--primary-green-color);
	border-radius: 10px;
}

.introduction__content {
	width: 50%;
}

.introduction__title {
	font-size: 3rem;
}

.introduction__button {
	font-size: 2rem;
}
