:root {
	--primary-green-color: #60ffd9;
	--secondary-green-color: #009076;
	--primary-background-color: #081426;
	--primary-blue-color: #b0cdf1;
	--secondary-blue-color: #6994c9;
	--secondary-grey-color: #a9a297;
	--border-color: #1c2a43;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	background-color: var(--primary-background-color);
}

a {
	text-decoration: none;
	color: var(--primary-green-color);
}

ul {
	list-style: none;
}

section {
	scroll-margin-top: 10rem;
}

.header {
	display: flex;
	position: fixed;
	justify-content: space-between;
	background-color: var(--primary-background-color);
	align-items: center;
	width: 100%;
	min-width: 320px;
	height: 100px;
	padding: 0 2.5rem;
	margin-bottom: 2rem;
}

.header__img {
	width: 48px;
	height: 48px;
	z-index: 3;
}

.nav-toggle {
	background: transparent;
	border: none;
}

.hamburger {
	display: block;
	position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
	width: 2rem;
	height: 3px;
	border-radius: 1rem;
	background-color: var(--secondary-green-color);
	transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
}

.hamburger::before {
	top: 6px;
}

.hamburger::after {
	bottom: 6px;
}

.header__aside {
	display: flex;
	justify-content: flex-end;
	position: fixed;
	transform: translateX(100%);
	inset: 0;
	transition: transform 250ms ease-in-out;
}

.header__nav {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 75%;
	height: 100%;
	background-color: #0e1b33;
}

.header__aside__button {
	position: absolute;
	backdrop-filter: blur(2px);
	width: 100vw;
	height: 100vh;
	background: none;
	border: none;
	z-index: -1;
}

.nav-open .header__aside {
	transform: translateX(0%);
}

.header__list {
	display: flex;
	flex-direction: column;

	justify-content: center;
	width: 100%;
	height: 50%;
}

.header__list__item {
	width: 100%;
	font-size: 1.7rem;
	margin-bottom: 1.5rem;
	color: var(--primary-green-color);
	text-align: center;
}

.header__list__item__link {
	display: inline-block;
	width: inherit;
	color: var(--primary-blue-color);
	padding: 0.5rem 2rem 2rem;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: auto;
	min-width: 320px;
}

.introduction {
	display: flex;
	flex-direction: column;
	width: 80%;
	min-width: 256px;
	margin-top: 10rem;
	margin-bottom: 16rem;
	height: auto;
	font-family: "Ubuntu", sans-serif;
	text-align: center;
}

.introduction span {
	margin: 2rem 0;
	font-size: 1.6rem;
	color: var(--primary-green-color);
}

.introduction h1 {
	font-size: 3.5rem;
	color: var(--primary-blue-color);
}

.introduction h2 {
	margin: 1.5rem 0;
	font-size: 3 0.5rem;
	color: var(--secondary-grey-color);
}

.introduction p {
	margin: 1rem 0 6rem 0;
	font-size: 1.6rem;
	color: var(--secondary-grey-color);
}

.introduction__contact-button {
	display: flex;
	align-self: center;
	padding: 1rem 4rem;
	border: 1px solid var(--primary-green-color);
	border-radius: 5px;
}

.about {
	display: flex;
	flex-direction: column;
	width: 90%;
	min-width: 288px;
	align-items: center;
	font-family: "Ubuntu", sans-serif;
}

.about__description {
	margin-bottom: 1rem;
	padding: 0 16px;
	font-size: 1.6rem;
	color: var(--secondary-grey-color);
	line-height: 2.5rem;
}

.numbered-topic {
	display: flex;
	align-items: center;
	width: 100%;
	font-size: 1.6rem;
	margin: 2rem 0;
	color: var(--primary-green-color);
	word-wrap: normal;
}

.numbered-topic hr {
	width: 100%;
	border: 1px solid var(--border-color);
}

.numbered-topic__text {
	display: inline-block;
	font-family: "Roboto Mono", monospace;
	font-size: 1.8rem;
	width: max-content;
	white-space: nowrap;
	color: var(--primary-blue-color);
}

.about__technologies {
	display: grid;
	grid-template-columns: repeat(2, minmax(140px, 200px));
	grid-auto-rows: 1fr;
	gap: 1rem;
	place-items: start;
	width: 100%;
	min-width: 288px;
	margin: 10px 0;
	padding: 0 16px;
}

.about__technologies__item {
	color: var(--secondary-grey-color);
}

.about__technologies__item::before {
	color: var(--primary-green-color);
	content: "▹";
	font-size: 2rem;
}

.about__img {
	margin: 22px 0;
	border: 1px solid var(--primary-green-color);
	width: 255px;
	height: 255px;
	border-radius: 50%;
}

.experience {
	width: 90%;
	min-width: 288px;
}

.experience__slider {
	display: flex;
	width: 100%;
	height: 80px;
	min-width: 256px;
	overflow-x: auto;
	overscroll-behavior-x: contain;
	scroll-snap-type: x proximity;
}

.experience__slider__button {
	min-width: 150px;
	height: 50px;
	color: var(--secondary-grey-color);
	scroll-snap-align: center;
	border-top: none;
	border-left: 1px solid var(--secondary-grey-color);
	border-right: 1px solid var(--secondary-grey-color);
	border-bottom: 1px solid var(--secondary-grey-color);
	background-color: transparent;
	cursor: pointer;
}

.experience__slider__button.active {
	border-left: 1px solid var(--primary-green-color);
	border-bottom: 1px solid var(--primary-green-color);
	color: var(--primary-green-color);
	background-color: var(--border-color);
}

@keyframes fadeEffect {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.experience__slider__item {
	display: none;
	animation: fadeEffect 1s;
	width: 80%;
	min-width: 256px;
	margin: 0 auto;
}

.experience__slider__item__title {
	margin: 20px 0;
	font-size: 1.8rem;
	color: var(--primary-blue-color);
	font-family: "Roboto mono", monospace;
}

.experience__slider__item__date {
	font-size: 1.4rem;
	color: var(--secondary-blue-color);
	font-family: "Roboto mono", monospace;
}

.experience__slider__item__list {
	width: 80%;
	min-width: 256px;
	margin: 20px 0;
	font-family: "Ubuntu", sans-serif;
}

.experience__slider__item__list__element {
	margin: 2rem 0;
	font-size: 1.6rem;
	color: var(--secondary-grey-color);
}

.experience__slider__item__list__element::before {
	content: "▹";
	color: var(--primary-green-color);
	font-size: 2rem;
}

.work {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	min-width: 288px;
}

.work__card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	min-width: 256px;
	padding: 16px;
	margin-bottom: 2rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.work__card__title {
	font-size: 1.8rem;
	font-family: "Roboto mono", monospace;
}

.work__card__description {
	font-size: 1.6rem;
	margin: 2rem 0;
	font-family: "Ubuntu", sans-serif;
	color: var(--secondary-grey-color);
}

.card-1 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
		url("https://i.postimg.cc/2y4K67s2/facturas.png");
}
.card-2 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
		url("https://i.postimg.cc/HWFHBbQx/blog.png");
}
.card-3 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
		url("https://i.postimg.cc/PJSDn2hB/batatabit.png");
}

.work__card__list {
	display: grid;
	gap: 1.5rem;
	grid-template-columns: repeat(3, max-content);
	grid-auto-rows: max-content;
}

.work__card__list__element {
	color: var(--primary-blue-color);
}

.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	min-width: 288px;
}

.contact__text {
	width: 80%;
	min-width: 256px;
	font-family: "Ubuntu", sans-serif;
	color: var(--secondary-grey-color);
}

.contact__button {
	display: flex;
	border-radius: 5px;
	padding: 10px 20px;
	margin: 4.5rem 0 10rem;
	border: 1px solid var(--primary-green-color);
	font-family: "Roboto mono", monospace;
}

.footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-width: 320px;
	padding: 2rem 0;
}

.footer__top {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: auto;
	min-width: 320px;
	margin-bottom: 2rem;
}

.footer__bottom {
	text-align: center;
	font-family: "Roboto mono", monospace;
	color: var(--secondary-grey-color);
}
